/* The contents under this line is for computer */

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_container {
  display: flex;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 50px;
  width: 100%;
}

.header_column {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_container h1 a{
  color: black;
  text-decoration-line: none;
  font-size: 60px;
}

.header_container h3 {
  font-size: 25px;
}

.menubar {
  width: 900px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top: 5px solid rgb(211, 211, 211, 0.5);
  border-bottom: 5px double black;
  font-size: 15px;
}

main {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 100px;
  font-size: 15px;
  width: 900px;
}

main a {
  color: black;
}

footer {
  width: 900px;
  text-align: center;
  padding-bottom: 50px;
  border-top: 3px solid black;
}

.mobile {
  display:none;
}

.form-group form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  font-size: 25px;
}

.borderline {
  width: 900px;
  margin-left: 10px;
}

.writing_area {
  padding: 15px;
}

.answer_area {
  width: 1005px;
}

.padding_left {
  padding-left: 105px;
}

.margin_left {
  margin-left: 105px;
}

.info_box {
  border: none;
  background-color: white;
  color: black;
}

.small_button {
  border: 1px solid black;
}

@media (max-width: 1185px) {

  .rec {
    display: none;
  }
  .borderline {
    width: 660px;
  }
  .padding_left {
    padding-left: 10px;
  }
}
