<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>집구석에서 세계속으로</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css?after') }}" media="all" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="box">
      <header class="header_container">
        <h3 class="hidden" id="calendar"></h3>
        <h1><a href="{{ url_for('main.index') }}">집구석에서<br> 세계속으로</a></h1>
        <div class="currency hidden">
          <h3 id="currency">
            <span id="usd"></span><br /><span id="btc"></span>
          </h3>
        </div>
      </header>
      {% block content %}
      {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='date.js') }}"></script>
    <script src="{{ url_for('static', filename='currency.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <!-- 자바스크립트 Start -->
    {% block script %}
    {% endblock %}
    <!-- 자바스크립트 End -->
  </body>
</html>
