<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="all" />
</head>
{% extends 'base.html' %}
{% block content %}
  <section class="menubar">
    <span>Welcome to our website!</span>
  </section>
  <main>
    <h1>"세계 각지의 이슈를 한번에 확인해보세요!"</h1>
    <br />
    <br />
    <p>
      반갑습니다! <br class="mobile" />'집구석에서 세계속으로' 사이트를 운영
      중인 <br class="mobile" />학생들입니다!
    </p>
    <br />
    <p>
      저희는 1달에 1회 이상 정기적으로 하나의 키워드 하에서
      <br class="mobile" />각자 관심 있는 소주제에 대한 칼럼을
      기고하려합니다.
    </p>
    <br />
    <p>
      또한 정기 칼럼 외에도 평소 흥미를 가졌던 주제에 대해서
      <br class="mobile" />자유롭게 추가 칼럼을 기고할 예정입니다.
    </p>
    <br />
    <p>
      기고한 칼럼들은 하단 '칼럼 목록'을 클릭하시면 확인하실 수 있습니다.
    </p>
    <br />
    <p>감사합니다!</p>
    <br />
    <br />
    <a href="{{ url_for('article._list') }}" style="font-size: 30px; font-weight: bold;">칼럼 목록</a>
    <br />
    <br />
    <a href="{{ url_for('article.create') }}" style="font-size: 30px; font-weight: bold;">게시물 등록하기</a>
  </main>
  <footer>
    <h3>Writing columns since August, 2021.</h3>
  </footer>
{% endblock %}
